
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
h1{
    font-family: 'Cookie', cursive;
}
h2{
    
    font-family: 'Livvic', sans-serif;
}
footer{
    background-color:rgb(85,85,85);
    
    padding: 20px;
}
footer p{
    color: whitesmoke;
}
.navbar
{
    padding: 10px 0px ;
}
.navbar-expand-md .navbar-nav .nav-link
{
padding-right: 0px;
padding-left: 20px;
}
